.wrapper{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
}
.header{
    width: 100%;
	/* height: 59px; */
	background-color: rgba(33, 39, 43, 1);
	box-shadow: 0px 1px 0px 0px 
        rgba(227, 227, 227, 1);
}
.cyz_logo{
    /* width: 110px;
	height: 59px; */
    /* background-color: rgba(255, 255, 255, 1); */
    /* background-image: url("./../static/images/logo.png"); */
    margin:14px 0 14px 14px ;
    /* background-repeat: no-repeat;
    background-size: 110px 59px; */
}
.contentWrapper{
    background-image: url("./../../static/images/backimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1F2325;
    border-top:1px solid #fff;
    height:640px;
}
.loginWrapper{
    width: 996px;
    height:400px;
    padding:95px 0 145px 0;
    box-sizing: content-box;
    margin:0 auto;
    /* height: 640px; */
    display: flex;
}
.leftWrapper{
    /* margin:155px 0 27px 218px; */
    padding:155px 0 0 0;
    width: 370px;
}
.leftWrapper .left_title{
    /* width: 370px; */
	/* height: 32px; */
	font-family: ﻿MicrosoftYaHei;
	font-size: 30px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	/* line-height: 17.99999px; */
	letter-spacing: 0px;
	color: #ffffff;
}
.leftWrapper .left_content{
    /* width: 309px; */
	/* height: 186px; */
	font-family: ﻿MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 43.99999px;
	letter-spacing: 0px;
	color: #ffffff;
    padding-top:37px;
}
.rightWrapper{
    width: 380px;
	height: 400px;
	background-color: rgba(255, 255, 255, 1);
    border-radius: 4px 4px 4px 4px;
    /* margin:0 226px 0 246px; */
    margin:0 0 0 246px;
}
.rightWrapper .right_title{
    width: 358px;
	/* height: 18px; */
	font-family: ﻿MicrosoftYaHei;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 17.99999px;
	letter-spacing: 1.1px;
    color: #171717;
    margin:30px 0 0 22px;
}
/* .rightWrapper ._input{
    margin:22px 22px 0 22px;
}
.rightWrapper ._input input{
    border:0;
    width:100%;
    height:42px;
    padding-left: 10px;
    background-color: #fff;
    border:1px solid #ccc;
    margin-bottom:18px;
}
.rightWrapper ._input .login_btn{
    color:#fff;
    background-color: #00c1de;
    border-color: #00c1de;
    font-size: 14px;
    -webkit-box-shadow: 0 1px 1px #ebe7e6;
    box-shadow: 0 1px 1px #ebe7e6;
} */

.rightWrapper .data_wrapper{
    position: relative;
    width: 146px;
    height: 146px;
    margin:0 auto;
    margin-top:57px;
}
.mask{
    width: 146px;
    height: 146px;
	position: absolute;
	top:0;
	left:0;
	background: rgba(0,0,0,.3);
	z-index:203;
}
.rightWrapper .data{
    display: block;
    width: 146px;
    height: 146px;
    margin:0 auto;
    z-index:200;
}
.rightWrapper .msg{
	/* height: 15px; */
	font-family: ﻿MicrosoftYaHei;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 17.99999px;
	letter-spacing: 0px;
    color: #565656;
    text-align: center;
    margin-top:34px;
}
.rightWrapper .msg .app_msg{
	color: #38d5ea;
}
.rightWrapper .cyz_msg{
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
    /* width: 83px; */
	/* height: 12px; */
	font-family: ﻿MicrosoftYaHei;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 17.99999px;
	letter-spacing: 0px;
    color: #909090;
    padding-right:25px;
    margin-top:63px;
}
.rightWrapper .cyz_msg p{
    margin-left:20px;
}
.footer{
    width: 100%;
    flex:1;
    background-color: rgba(71, 78, 83, 1);
    padding-left:113px;
}
.footer .about{
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
    padding-top:34px;
}
.footer .about p{
    margin-right:40px;
	font-family: ﻿MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #cacaca;
}
.footer .address{
	font-family: ﻿MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 0px;
    color: #cacaca;
    padding-top:45px;
    padding-bottom:48px;
}