.ant-menu-dark .ant-menu-inline.ant-menu-sub{
    background-color: rgba(51, 55, 67, 1);
    -webkit-box-shadow: none; 
    box-shadow: none;
}
.ant-menu-dark.ant-menu-inline, .ant-menu-dark.ant-menu-vertical, .ant-menu-dark.ant-menu-vertical-left, .ant-menu-dark.ant-menu-vertical-right{
    background-color: rgba(66, 73, 90, 1);
    font-family: ﻿MicrosoftYaHei;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 0.5px;
	color: #ffffff;
}
.ant-menu-dark.ant-menu-inline .ant-menu-item, .ant-menu-dark.ant-menu-inline .ant-menu-submenu-title{
    margin:0;
    color:#fff;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected{
    background-color: rgba(85, 191, 219, 1);
    margin:0;
    color:#fff;
}
.ant-menu-dark.ant-menu-inline .ant-menu-item, .ant-menu-dark.ant-menu-inline .ant-menu-submenu-title{
    padding-left:32px !important;
}
/* 去除父菜单折叠icon */
._menu .ant-menu-submenu-arrow{
    display: none;
}
.ant-menu-submenu-popup{
    left:82px !important;
}
._menu {
    height: 100%;
    /* width: 178px; */
       width: 223px;
    background-color: rgba(51, 56, 67, 1);
    transition: all 0.2s;
  }
._menu_title {
    /* width: 178px; */
    width: 223px;
	height: 30px;
    background-color: rgba(75, 81, 99, 1);
    text-align: center;
    line-height:30px;
    transition:all 0.2s;
  }
.small{
    width: 80px;
}
.ant-divider, .ant-divider-vertical{
    margin:0 1.5px;
    height:8px;
    line-height:8px;
    top:0;
}
.ant-spin-dot i{
    background-color:#fff;
}
.ant-spin-dot .ant-spin-dot-spin{
    color:#fff;
}
.ant-menu-submenu-title a{
    color:#fff;
}
.ant-menu-submenu-title a:hover{
    color:#fff;
}