._submenu{
    width: 180px;
    height:100%;
    background-color: rgba(234, 237, 240, 1);
    position: relative;
    transition:all 0.2s;
}
._submenu .ant-menu {
    background-color:rgba(234, 237, 240, 1);
}
._submenu .ant-menu-submenu-title,._submenu .ant-menu-item{
    height:30px !important;
    font-family: ﻿MicrosoftYaHei;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 0.5px;
    color: #0b0b0b;
    margin:0 !important;
    line-height: 30px !important;
}
._submenu .ant-menu-item:hover{
    background-color:#eee;
}
.ant-menu-item-active{
    color:#000;
}
._submenu .ant-menu-submenu > .ant-menu{
    background-color:rgba(234, 237, 240, 1);
}
._submenu .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background-color:#fff;
    color:#000;
}
._submenu .ant-menu-submenu-active{
    color:#000;
}
.ant-menu-vertical .ant-menu-item:after, .ant-menu-vertical-left .ant-menu-item:after, .ant-menu-vertical-right .ant-menu-item:after, .ant-menu-inline .ant-menu-item:after{
    border-right:0;
}
/* ._submenu .ant-menu-sub.ant-menu-inline > .ant-menu-item, .ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title{
   padding-left:24px !important;
} */
._foldWrapper{
    position: absolute;
    top: 50%;
    right: -18px;
    margin: -35px 0 0 0;
    width: 70px;
    height: 0;
    border-top: 17px solid rgba(247, 247, 247, 1);
    border-right: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 17px solid transparent;
    /* Safari */
    -webkit-transform: rotate(90deg);
    /* Firefox */
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}
._fold{
    width:14px;
    height:14px;
    position: absolute;
    top: 50%;
    right: 0;
    margin: -27px 0 0 0;
}
.small{
    width: 80px;
}
._submenu .ant-menu-item> a:hover{
    color: #000;
}
._submenu .ant-menu-item-selected > a, .ant-menu-item-selected > a:hover{
    color: #000;
}
._submenu .ant-menu-item> div> a{
    font-family: ﻿MicrosoftYaHei;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 0.5px;
    color: #0b0b0b;
}
._submenu ._ptitle{
    height:69px;
    line-height:69px;
    padding-left:21px;
    transition:all 0.2s;
}
._submenu ._small{
    padding-left:0;
    text-align: center;
}