.appraise-wrapper{
    height: 100%;
}

.appraise-wrapper .ant-layout-sider{
background-color: #fff;
}
.appraise-wrapper .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
background-color: #f2f2f2;
}
.appraise-title{
    background-color: #fff;
    height: 80px;
    border-bottom: 1px solid #CCC;
    line-height: 98px;
    overflow: hidden;
    font-size: 14px;
    padding-left: 23px;
}
.appraise-wrapper .ant-layout-header{
    margin-left: 16px;
    margin-top: 16px;
    margin-right: 16px;
    display: flex;
    align-items:flex-end;
    border-bottom: 1px solid #CCC;
   
}
.appraise-wrapper .ant-menu-submenu-title{
    padding:0 !important;
}
.appraise-wrapper .anticon[tabindex] {
    line-height: 42px;
    
}
.appraise-wrapper .ant-layout-content{
margin-top: 0px!important;
}
.appraise-wrapper .trigger{
font-size: 20px;
margin:0 10px;
margin-bottom: 2px;
}
.appraise-wrapper .title{
    line-height: 50px;
    margin-right: 10px;
}
.appraise-wrapper button{
    height: 50px;
    margin: 0 10px;
    background: #fff;
    border-radius: 0;
    border-bottom: none;
    padding: 0 18px;
}

.appraise-wrapper .ant-btn:hover, .ant-btn:focus{
    background-color: #e4e4e4;
    color: #000;
    border: 1px solid #ccc;
    border-bottom: none;
}
.appraise-wrapper .ant-menu-item::after{
    border-right: none;
}
.appraise-wrapper .anticon-file-text:hover{
    color: #000!important;
} 
.appraise-wrapper a{
    color: #000;
} 
.appraise-wrapper .ant-menu-item-selected a{
    color: #1890ff;
} 
 .my-slider:hover{
    color: #1890ff;
} 
.appraise-wrapper .react-tabs__tab-list{
margin: 0;
margin-top: 16px;

}
.appraise-wrapper ul{
    margin-bottom:0; 
}
.appraise-wrapper .react-tabs__tab{
    /* border-bottom: 1px solid transparent; */
    line-height: 40px;
}
.appraise-wrapper .react-tabs__tab--selected{
    border-radius: 0;
}



