.allidea .show {
    flex: 1;
    width: 100%;
    height: 100%;
    margin-top: 20px;
  }
  .allidea .show .search_box {
    display: flex;
  }
  .allidea .show .search_box .search_content {
    display: flex;
    flex-wrap: wrap;
  }
  .allidea .show .search_box .search_content .search_item {
    display: flex;
    height: 32px;
    margin-bottom: 20px;
    margin-right: 30px;
    align-items: center;
  }
  .allidea .show .search_box .search_content .search_item .txt1 {
    margin: 0 5px;
  }
  .allidea .show .search_box .search_content .search_item .age_input {
    width: 50px;
  }
  .allidea .show .search_box .search_content .search_item .ant-input-number .ant-input-number-handler-wrap {
    display: none;
  }
  .allidea .show .search_box .search_content .search_item .phone_input {
    width: 110px;
  }
  .allidea .show .search_box .search_btn {
    display: flex;
   
  }
  .allidea .show .total_box {
    height: 60px;
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
  }
  .allidea .show .total_box .name {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .allidea .show .total_box .name .val {
    font-size: 20px;
    color: #313131;
    font-weight: 700;
  }
  .allidea .show .tag {
    margin-bottom: 30px;
  }
  .allidea .ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-title {
    text-align: center;
  }
  .allidea .ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-body .item_box {
    height: 430px;
    overflow-Y: scroll;
  }
  .allidea .ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-body .item_box .item .question {
    font-size: 16px;
    color: #06111a;
    margin-bottom: 5px;
  }
  .allidea .ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-body .item_box .item .answer_box {
    margin-bottom: 12px;
  }
  .allidea .ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-body .item_box .item .answer_box .ant-radio-group .ant-radio-wrapper {
    width: 30%;
  }
  .allidea .ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-body .item_box .item .answer_box .ant-radio-group .ant-radio-wrapper span {
    color: #2e3d49;
  }
  .allidea .ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-body .footer {
    text-align: end;
    font-size: 14px;
    color: #8a9298;
  }
  .allidea .ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-body .footer .version {
    margin-bottom: 5px;
  }
  .allidea .ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-footer {
    display: none;
  }
  .allidea .dajuanDownload{
    position: absolute;
    top: -77px;
    right: 0px;
  }